{# index/about_us #}
{% extends 'base.twig' %}
{% block content %}
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>About Us</h3><hr>
        <p class="text-justify">HRaid is a project developed by <a href="http://www.adaptivez.org.mx/gisaa/" target="_blank">GISAA</a> (Grupo de Investigación de Sistemas de Almacenamiento Adaptivo)</p>
        <p class="text-justify">The purpose of HRaid is to offer an online and easy to use storage-system simulator for researchers and storage-system designers, offering the ability to determine the performance of any type of disk supported by the simulator, without the need of buying the storage systems.</p>
        <p class="text-justify">HRaid is a powerful simulation tool, that allows users to have a global vision from the benefits of RAID systems. Its main advantage is its flexibility to set heterogeneous scenarios, in order to adapt to constant changing environments.</p>
      </div>
      <div class="col-md-3">
        {% include 'partners.twig' %}
      </div>
    </div>
{% endblock %}
