  <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo $root; ?>" rel="stylesheet">Programación WEB</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="HyperText Markup Language">HTML <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Prácticas</li>
                <li><a href="<?php echo $root; ?>practica/1" title="Práctica 1">Estructura Básica</a></li>
                <li><a href="<?php echo $root; ?>practica/2" title="Práctica 2">Formato</a></li>
                <li><a href="<?php echo $root; ?>practica/3" title="Práctica 3">Listas y Enlaces</a></li>
                <li><a href="<?php echo $root; ?>practica/4" title="Práctica 4">Tablas</a></li>
                <li><a href="<?php echo $root; ?>practica/5" title="Práctica 5">Formularios</a></li>
                <li><a href="<?php echo $root; ?>practica/6" title="Práctica 6">Multimedia</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Tareas</li>
                <li><a href="<?php echo $root; ?>tarea/1" title="Tarea 1">Horario</a></li>
                <li><a href="<?php echo $root; ?>tarea/2" title="Tarea 2">Menú de Restaurante</a></li>
                <li><a href="<?php echo $root; ?>tarea/3" title="Tarea 3">Curriculum Vitae</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Cascading Style Sheets">CSS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Prácticas</li>
                <li><a href="<?php echo $root; ?>practica/7" title="Práctica 7">Uso de CSS</a></li>
                <li><a href="<?php echo $root; ?>practica/8" title="Práctica 8">CSS3</a></li>
                <li><a href="<?php echo $root; ?>practica/9" title="Práctica 9">CSS Complete</a></li>
                <li><a href="<?php echo $root; ?>practica/10" title="Práctica 10">Hola Bootstrap Grid!</a></li>
                <li><a href="<?php echo $root; ?>practica/11" title="Práctica 11">Formulario Bootstrap!</a></li>
                <li><a href="<?php echo $root; ?>practica/11.1" title="Práctica 11.1">Responsive</a></li>
                <li><a href="<?php echo $root; ?>practica/12" title="Práctica 12">Welcome 2 Bootstrap!</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Tareas</li>
                <li><a href="<?php echo $root; ?>tarea/4" title="Tarea 4">Menú y Botones</a></li>
                <li><a href="<?php echo $root; ?>tarea/5" title="Tarea 5">Profile</a></li>
                <li><a href="<?php echo $root; ?>tarea/6" title="Tarea 6">Solicitud de Empleo</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="JavaScript">JS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Prácticas</li>
                <li><a href="<?php echo $root; ?>practica/13" title="Práctica 13">Welcome 2 JavaScript!</a></li>
                <li><a href="<?php echo $root; ?>practica/14" title="Práctica 14">Calculadora Básica JS</a></li>
                <li><a href="<?php echo $root; ?>practica/15" title="Práctica 15">Animation</a></li>
                <li><a href="<?php echo $root; ?>practica/16" title="Práctica 16">Formulario con JQuery</a></li>
                <li><a href="<?php echo $root; ?>practica/17" title="Práctica 17">Two</a></li>
                <li><a href="<?php echo $root; ?>practica/18" title="Práctica 18">GMaps</a></li>
                <li><a href="<?php echo $root; ?>practica/19" title="Práctica 19">Ajax</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Tareas</li>
                <li><a href="<?php echo $root; ?>tarea/7" title="Tarea 7">Animación</a></li>
                <li><a href="<?php echo $root; ?>tarea/8" title="Tarea 8">Paisaje With Two</a></li>
                <li><a href="<?php echo $root; ?>tarea/9" title="Tarea 9">Maps of OXXO's</a></li>
              </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">PHP <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Prácticas</li>
                <li><a href="#" title="Práctica 20">Authors (Idiorm)</a></li>
                <li><a href="#" title="Práctica 21">Library (Flight)</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Tareas</li>
                <li><a href="<?php echo $root; ?>tarea/10" title="Tarea 10">Cuadro Comparativo</a></li>
                <li><a href="#" title="Tarea 11">Solicitud de Empleo (PHP)</a></li>
                <li><a href="#" title="Tarea 11">CRUD Library</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Evaluación">Examen <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Unidad 1 y 2</li>
                <li><a href="<?php echo $root; ?>examen/1">Solcitud de Empleo</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Unidad 3 y 4</li>
                <li><a href="http://alfredo-barron.github.io/missionghost/" title="Tarea 10">Juego Mission Ghost</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Unidad 5 y 6</li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

