{# Se incluye en los archivos del index #}
<h3>Partners</h3><hr>
  <ul>
    <li><a href="#UPC"><i><small>Universitat Politècnica de Catalunya</small></i></a></li>
    <li><a href="#BSC"><i><small>Barcelona Supercomputing Center</small></i></a></li>
    <ul>
      <li><a href="#SSRG"><i><small>Storage System Research Group</small></i></a></li>
    </ul>
      <li><a href="#AZ"><i><small>AdaptiveZ</small></i></a></li>
      <li><a href="#GISAA"><i><small>GISAA</small></i></a></li>
    </ul>
  <hr>
