{# index/papers #}
{% extends 'base.twig' %}
{% block content %}
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Papers</h3><hr>
        <ul>
          <li><b>HRaid: A Flexible Storage-System Simulator</b></li>
          <br>
          <p>Toni Cortes and Jesús Labarta at International Conference on Parallel and Distributed Processing Techniques and Applications (PDPTA '99); Las Vegas, Nev, June 1999.</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>]</p>
        </ul>
        <br>
        <h4>Used in the evaluation of:</h4><br>
        <ul>
          <li><b>Distributing Orthogonal Redundancy on Adaptive Disk Arrays</b></li>
          <br>
          <p>Jose Luis Gonzalez Compean, Toni Cortes at International Conference on Grid Computing, High-performance and Distributed Applications (GADA'08); Monterrey, Mexico, Nov 13 - 14, 2008.</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>]</p>
          <br>
          <li><b>Adaptive Data Block Placement Based on Deterministic Zones (AdaptiveZ)</b></li>
          <br>
          <p>Jose Luis Gonzalez Compean, Toni Cortes at International Conference on Grid computing, high-performAnce and Distributed Applications (GADA'07); Vilamoura, Algarve, Portugal, Nov 29 - 30, 2007.</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>]</p>
          <br>
          <li><b>Evaluating the effects of Upgrading Heterogeneous Disk Arrays</b></li>
          <br>
          <p>Jose Luis Gonzalez Compean, Toni Cortes at International Symposium on Performance Evaluation of Computer and Telecommunication Systems (SPECTS 2006); Calgary, Canada, July 31 - August 2, 2006.</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>] <b>Best Paper Award!</b></p>
          <br>
          <li><b>Increasing the capacity of Raid 5 by Online Gradual Assimilation</b></li>
          <br>
          <p>Jose Luis Gonzalez Compean, Toni Cortes at International Workshop on Storage Network Architecture and Parallel I/Os (SNAPI 2004); Antibes Juan-les-pins, France, September 30, 2004.</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>]</p>
          <br>
          <li><b>Taking Advantage of Heterogeneity in Disk Arrays</b></li>
          <p>Toni Cortes and Jesús Labarta at Journal on Parallel and Distributed Computing (JPDC) Volume 63, number 4, pp. 448-464, April 2003</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>]</p>
          <br>
          <li><b>Extending Heterogeneity to RAID Level 5</b></li>
          <br>
          <p>Toni Cortes and Jesús Labarta at USENIX Annual Technical Conference (USENIX 2001); Boston, MA, pp. 119—132, June 2001.</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>]</p>
          <br>
          <li><b>A case for Heterogeneous Disks Arrays</b></li>
          <br>
          <p>Toni Cortes and Jesús Labarta at 1st IEEE International Conference on Cluster Computing (Cluster 2000); Chemnitz, Germany, November 2000.</p>
          <p>[<a href="#">View <i class="fa fa-file-pdf-o"></i></a>] [<a href="#">View <i class="fa fa-file-powerpoint-o"></i></a>]</p>
        </ul>
      </div>
      <div class="col-md-3">
        {% include 'partners.twig' %}
      </div>
    </div>
{% endblock %}
