{# index/home/simulationTools/RAID-designer #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block content %}
  <div class="row">
    <div class="col-md-7 col-md-offset-1"><h3>RAID Designer</h3><hr>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#start" data-toggle="tab"><i class="fa fa-play-circle"></i> Start</a></li>
        <li><a href="#network" data-toggle="tab"><i class="fa fa-signal"></i> Network</a></li>
        <li><a href="#disks" data-toggle="tab"><i class="fa fa-hdd-o"></i> Disks</a></li>
        <li><a href="#striping" data-toggle="tab"><i class="fa fa-dot-circle-o"></i> Striping Unit</a></li>
        <li><a href="#distribution" data-toggle="tab"><i class="fa fa-sitemap"></i> Distribution</a></li>
        <li><a href="#end" data-toggle="tab"><i class="fa fa-lock"></i> End</a></li>
      </ul>
      <form class="form-horizontal" action="" role="form">
        <div class="tab-content">
          <div class="tab-pane active" id="start">
            <br>
            <div class="row">
              <div class="form-group">
                <div class="col-md-2 col-md-offset-1">
                  {{ f.label('raid_name','RAID name:') }}
                </div>
                <div class="col-md-6">
                  {{ f.text('raid_name') }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-2 col-md-offset-1">
                  {{ f.label('raid_note','RAID notes:') }}
                </div>
                <div class="col-md-5">
                  {{ f.textarea('raid_note') }}
                </div>
                <div class="col-md-4">
                  <p><b>W</b>rite a description of the RAID that will be designed. Or just use this space to write down some notes about the experiment.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="network">2</div>
          <div class="tab-pane" id="disks">3</div>
          <div class="tab-pane" id="striping">4</div>
          <div class="tab-pane" id="distribution">5</div>
          <div class="tab-pane" id="end">6</div>
        </div>
      </form>
    </div>
    <div class="col-md-4"><h3>Configuration Selected</h3><hr></div>
  </div>
{% endblock %}
