{% extends 'base.twig' %}
{% block css %}
  <link rel="stylesheet" href="{{ css }}bootstrap-table.css">
  <link rel="stylesheet" href="{{ css }}AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="title-box text-center"><i class="fa fa-gamepad"></i>&nbsp;Controllers</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive" data-toggle="table" data-url="{{ urlFor('root') }}controllers.json" data-height="246" data-show-columns="true" data-pagination="true">
                <thead>
                <tr>
                    <th data-field="id">#</th>
                    <th data-field="name">Name</th>
                    <th data-field="type">Type</th>
                    <th data-field="block_size" data-visible="false">Block Size</th>
                    <th data-field="cache_size" data-visible="false">Cache Size</th>
                    <th data-field="new_overhead" data-visible="false">New Overhead</th>
                    <th data-field="read_fence" data-visible="false">Read Fence</th>
                    <th data-field="write_fence" data-visible="false">Write Fence</th>
                    <th data-field="prefetching" data-formatter="priceFormatter">Prefetching</th>
                    <th data-field="inmediate_report" data-formatter="priceFormatter">Report</th>
                    <th data-field="msg_size" data-visible="false">Msg Size</th>
                    <th data-field="available" data-formatter="priceFormatter">Available</th>
                    <th data-field="id" data-formatter="modalLink">Info</th>
                </tr>
                </thead>
            </table>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ js }}bootstrap-table.js"></script>
  <script>
    function priceFormatter(value) {
      if (value == false) {
        return '<span class="badge bg-red">Disabled</span>';
        }
      else{
          return '<span class="badge bg-green">Enabled</span>';
        }
    };

    function modalLink(value) {
      return '<a href="#'+value+'"><i class="fa fa-question">&nbsp;More info</i></a>'
    };
  </script>
{% endblock %}
