{% extends 'base.twig' %}
{% block css %}
  <link rel="stylesheet" href="{{ css }}bootstrap-table.css">
  <link rel="stylesheet" href="{{ css }}AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="title-box text-center"><i class="fa fa-users"></i>&nbsp;Users</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive" data-toggle="table" data-url="{{ urlFor('root') }}users.json" data-height="246" data-show-columns="true" data-pagination="true" data-search="true">
                <thead>
                <tr>
                    <th data-field="id">#</th>
                    <th data-field="name">Names</th>
                    <th data-field="lastname">Last Name</th>
                    <th data-field="lastname_second">Second Last Name</th>
                    <th data-field="email">Email</th>
                    <th data-field="username" data-visible="false">Username</th>
                    <th data-field="organization_name">Organization</th>
                </tr>
                </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ js }}bootstrap-table.js"></script>
{% endblock %}
